@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../tools/google_icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(../tools/google_icons/MaterialIcons-Regular.woff2) format('woff2'),
      url(../tools/google_icons/MaterialIcons-Regular.woff) format('woff'),
      url(../tools/google_icons/MaterialIcons-Regular.ttf) format('truetype');
  }
   .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: #ffffff;
}
/* label color*/
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type="text"]:focus + label,
.input-field input[type="password"]:focus + label {
    color: #ff0000 !important;
} 
/* label underline focus color */
.input-field input[type="text"]:focus,
.input-field input[type="password"]:focus {
    border-bottom: 2px solid #ff0000 !important;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #ff0000 !important;
}
form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px 20px 50px;
    position: relative;
}
form h4 {
    color: #e60000;
    margin-bottom: 40px;
    font-weight: 500;
}
.text-div {
    background-image: linear-gradient(to right, rgba(230,0,0,0.5), rgba(255,0,0,0.5)),
        url("../images/picture_of_a_lecture_hall.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.form-div {
    height: 100vh;
    background: linear-gradient(to right, rgba(230,0,0,0.02), rgba(255,0,0,0.02));
}
form button {
    background: #e60000 !important; /* Fallback */
    background: linear-gradient(to top right, rgba(0,0,0,0.1), rgba(255,255,255,0.1)), linear-gradient(to right, #e60000, #ff0000) !important;
    color: white !important;
    font-size: 1.3rem !important;
    font-weight: 500;
    transition: all 0.3s ease-out !important;
    margin-top: 25px;
}
form button:hover,
form button:active,
form button:focus {
    background: rgba(0, 0, 0, 0.075) !important; /* Fallback */
    background: linear-gradient(to right, rgba(230,0,0,0.2), rgba(255,0,0,0.2)) !important;
    color: #e60000 !important;
}
form a {
    color: #ff0000;
    margin-top: 50px;
    text-align: right;
    font-size: 16px !important;
}
form a:hover {
    text-decoration: underline;
}
#showpasswordIcon {
    position: absolute;
    cursor: pointer;
    display: inline;
    right: 0;
    top: 20px;
}
#hidepasswordIcon {
    position: absolute;
    cursor: pointer;
    display: none; /* initially hidden*/
    right: 0;
    top: 20px;   
}

@media screen and (max-width: 600.98px) {
    form a {text-align: left;}
}
@media screen and (max-width: 992.98px) {
    .text-div, .form-div {
        height: auto;
    }
    .text-div {
        padding: 50px 0 110px !important;
    }
    h3 {
        font-size: 2.5rem !important;
    }
    form {
        margin-top: -90px;
    }
}